#flash,
#featured-1,
#featured-2,
#featured-3,
#main,
#sidebar,
#triptych-1,
#triptych-2,
#triptych-3,
#footer-col-1,
#footer-col-2,
#footer-col-3, 
#footer-col-4 {
    min-height: 80px;
    background-color: rgba(138,138,138,0.36);
    padding: 0;
}

#featured-1 img{
	max-width:100%;
	height:auto;
}

#featured-2 img{
	max-width:100%;
	height: auto;
}

#featured-3 img{
	max-width:100%;
	height:auto;
}

#triptych-1,
#triptych-2,
#triptych-3 {
	width: 30%;
}