#flash,
#featured-1,
#featured-2,
#featured-3,
#main,
#sidebar,
#triptych-1,
#triptych-2,
#triptych-3,
#footer-col-1,
#footer-col-2,
#footer-col-3, 
#footer-col-4 {
    min-height: 88px;
    background-color: #8A8A8A;
}

#featured-1 img{
	max-width:100%;
	height:auto;
}

#featured-2 img{
	max-width:100%;
	height: auto;
}

#featured-3 img{
	max-width:100%;
	height:auto;
}

#triptych-1,
#triptych-2,
#triptych-3 {
	width: 30%;
}